/* VINESH KANNAN | 18 JUNE 2014 | FLOW WIDGET */

/*//MAIN/////////////////////////////////////*/

	/*html{
		background-image: url('table.jpg');
		background-attachment: fixed;
		background-width: 100%;
		background-position: center;
	}*/

	html{
		
	}

	body{
		
	}

/*//DIVS/////////////////////////////////////*/

	div.set{
		width: 350px;
		height: 100%;
		padding: 5px;
		float: left;
		background-color: #1a1a1a;
	}

	div#paper{
		white-space: nowrap;
		width: auto;
	}

	div.arg{
		width: 310px;
		height: auto;
		padding: 0px;
		float: left;
		border-bottom-right-radius: 20px;
		background-color: rgba(255,255,255,0.3);
		color: #1a1a1a;
		font-family: "Agenda";
		clear: both;
		margin-bottom: 20px;
		
		overflow: visible;
		white-space: nowrap;
		display: inline-block;
	}

	div.flow{
		width: 60px;
		height: 120px;
		float: right;
		border-bottom-right-radius: 20px;
		background-color: #124899;
		color: #ffffff;
		font-family: "Agenda";
		text-transform: uppercase;
		text-align: center;
		line-height: 30px;
		font-size: 15px;
	}

	input.flowbox{
		width: 50px;
		height: 20px;
		line-height: 20px;
		margin-top: 35px;
		font-size: 15px;
		border-radius: 20px;
		clear: both;
		border: none;
		text-align: center;
		font-family: "Agenda";
		font-weight: bold;
		color: #124899;
		background-color: #ffffff;
	}

/*//TEXT/////////////////////////////////////*/

		@font-face{
			font-family: ReganSlab;
			src: url("fonts/ReganSlab-Bold.otf") format('opentype');
		}

		@font-face{
			font-family: ReganSlab;
			src: url("fonts/ReganSlab-Ultra.otf") format('opentype');
			font-weight: bold;
		}

		@font-face{
			font-family: Agenda;
			src: url("fonts/Agenda-Light.otf") format('opentype');
		}

		@font-face{
			font-family: Agenda;
			src: url("fonts/Agenda-Bold.otf") format('opentype');
			font-weight: bold;
		}

		textarea.notea,textarea.noteb{
			width: 190px;
			height: 60px;
			padding: 10px;
			border-radius: 10px;
			resize: vertical;
			float: left;
			margin: 20px;
			border: none;
			color: #ffffff;
			font-family: "Agenda";
			font-size: 14px;
			line-height: 15px;
			display: inline-block;
			letter-spacing: 1px;
			display: inline-block;
			white-space: normal;
		}

		textarea.notea{
			background-color: #124899;
		}

		textarea.noteb{
			background-color: #c91616;
		}

		textarea:focus{
			outline: none;
		}

/*//IMG//////////////////////////////////////*/


/*//FORM/////////////////////////////////////*/


/*//BARS/////////////////////////////////////*/


/*//MENU/////////////////////////////////////*/

	div#header{
		position: fixed;
		top: 0;
		left: 0;
		width: 95%;
		height: 50px;
		background-color: rgba(255,255,255,0.3);
		color: #124889;
		font-family: "Agenda";
		font-weight: bold;
		text-align: center;
		font-size: 30px;
		line-height: 50px;
		border-bottom-right-radius: 50px;
	}

		img#logo{
			height: 40px;
			margin: 5px;
			left: 0;
			z-index: 10;
			position: absolute;
		}

		input#resolution{
			position: fixed;
			top: 0;
			left: 0;
			width: 90%;
			height: 50px;
			background-color: rgba(255,255,255,0.0);
			color: #1a1a1a;
			font-family: "Agenda";
			font-weight: bold;
			text-align: center;
			font-size: 20px;
			line-height: 50px;
			border-bottom-right-radius: 50px;
			border: none;
			letter-spacing: 1px;
		}

		input#resolution:focus{
			outline: none;
		}

	div.newarg{
		width: 180px;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		font-family: "Agenda";
		font-weight: bold;
		background-color: rgba(255,255,255,0.3);
		color: #124889;
		float: left;
		text-align: center;
		border-bottom-right-radius: 20px;
		clear: both;
		margin-bottom: 60px;
	}

	input#argcounter{
		height: 50px;
		width: 50px;
		line-height: 50px;
		border-bottom-right-radius: 25px;
		float: right;
		border: none;
		background-color: #124889;
		color: #ffffff;
		font-size: 25px;
		text-align: center;
	}

	div.footer{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40px;
		line-height: 40px;
		background-color: #c91616;
		color: #ffffff;
		text-align: center;
		font-family: "Agenda";
		font-size: 15px;
		/*background-image: url("graysand.png");
		background-repeat: repeat;*/
		box-shadow: 0 0 14px #1a1a1a;
		letter-spacing: 1.5px;
	}

		div.footdiv{
			background-color: #124889;
			width: 20px;
			padding: 5px;
			height: 20px;
			line-height: 25px;
			float: right;
			border-radius: 15px;
			margin-top: 5px;
			margin-left: 5px;
			font-family: "Agenda";
			font-size: 15px;
			overflow: hidden;
			transition: 1s;
			z-index: 50;
		}

		div.footdiv:hover{
			width: 100px;
		}

/*///REFERENCE/////////////////////////////////////////////////////////

	*Selector Syntax Explanation* (Must be Sibling Elements)
		#showthis {display:none};
		#hoverthis {effect:value};
		#hoverthis:hover + #showthis {display:block};

	*Image Cover Background*
		body{
			background-image: url("/////.jpg");
			background-repeat: repeat-y;
			background-position: center;
			background-size: cover;
		}

	*Custom Font Declaration*
		@font-face{
			font-family: "/////";
			src: url("/////.ttf") format('truetype');
		}

/////////////////////////////////////////////////////////REFERENCE///*/