/*--------------------------------------------*/
/*---> PRESETS <------------------------------*/
/*--------------------------------------------*/

/*
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Bevan', sans-serif;
*/

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

body{
	background: #dddddd;
	font-family: 'Titillium Web', sans-serif;
}