/*--------------------------------------------*/
/*---> GLOBALS <------------------------------*/
/*--------------------------------------------*/

@mainColor: orange;
@mainDark: darken(@mainColor, 10%);
@mainLight: lighten(@mainColor, 10%);

@textSize: 5vh;

@headFont: sans-serif;
@bodyFont: sans-serif;

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, ul, li{
	font-family: @bodyFont;
	font-size: @textSize;
}

h1, h2, h3, h4, h5, h6{
	font-family: @headFont;
}

h1{
	font-size: 1.5 * @textSize;
}

h2{
	font-size: 1.35 * @textSize;
}

h3{
	font-size: 1.15 * @textSize;
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/