/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@focusColor: #E9988C;
@lightTone: @focusColor + #222222;
@darkTone: @focusColor - #222222;
@charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@oxygen: 'Oxygen', sans-serif;
@pacifico: 'Pacifico', cursive;

.OxygenFont(@textColor: white, @size: 1.25em){
	font-family: @oxygen;
	color: @textColor;
	font-size: @size;
	line-height: @size * 1.5;
}

/*--------------------------------------------*/
/*---> BACKGROUND <---------------------------*/
/*--------------------------------------------*/

@keyframes animatedBackgroundRight{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 10000% 0;
	}
}

@keyframes animatedBackgroundLeft{
	from{
		background-position: 0 0;
	}
	to{
		background-position: -10000% 0;
	}
}

.AnimatedBannerRight(@height: 200px){
	height: @height;
	background-size: auto @height;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animatedBackgroundRight 800s linear infinite;
}

.AnimatedBannerLeft(@height: 200px){
	height: @height;
	background-size: auto @height;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animatedBackgroundLeft 800s linear infinite;
}

/*
* Collapsing Header on Scroll Tutorial:
* http://callmenick.com/post/animated-resizing-header-on-scroll
*/

@biggerHeight: 6em;
@smallerHeight: 3em;

header{

	width: 100%;
	//padding: 1em 0.5em;
	height: @biggerHeight;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	background: black;
	border-bottom: 0.5em solid rgba(255, 255, 255, 1.0);
	-webkit-transition: height 0.25s;
	-moz-transition: height 0.25s;
	-ms-transition: height 0.25s;
	-o-transition: height 0.25s;
	transition: height 0.25s;

	.logo{
		display: inline-block;
		height: @biggerHeight;
		line-height: @biggerHeight;
		//float: left;
		.Center();
		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s;
	}

	#big{
		height: @biggerHeight;
		line-height: @biggerHeight;
	}

	#small{
		height: 0;
		line-height: 0;
	}

	p{
		display: inline-block;
		float: left;
		height: @biggerHeight;
		line-height: @biggerHeight;
		margin-top: -1.25em;
		font-family: @pacifico;
		font-weight: 700;
	}

}

header.smaller{

	height: @smallerHeight;

	.logo{
		height: @smallerHeight;
		line-height: @smallerHeight;
		float: left;
	}

	#big{
		height: 0;
		line-height: 0;
	}

	#small{
		height: @smallerHeight;
		line-height: @smallerHeight;
	}

	p{
		height: @smallerHeight;
		line-height: @smallerHeight;
	}

}

/*--------------------------------------------*/
/*---> LAYOUT <-------------------------------*/
/*--------------------------------------------*/

@defaultPadding: 1.00em;
@defaultMargin: 0px;
@defaultWidth: 400px;

.BoxModel(@size: @defaultPadding){
	padding: @size;
	margin: @size;
}

.FullWidth(){
	margin: 0;
	width: 100%;
}

html{
	background: @focusColor;
	overflow-y: scroll;
	overflow-x: hidden;
	.OxygenFont(white, 1em);
}

body{
	width: 90%;
	margin: 0 auto;
}

textarea{
	display: none;
	width: 100%;
	height: 200px;
	border: none;
	outline: none;
	margin: 20px 0;
	background: #1A1A1A;
	color: white;
}

div#headerSpace{
	height: 8em;
}

div.pane{
	
	padding: 2em 0;
	.FullWidth();

	p{
		width: 95%;
		clear: both;
	}

}

	div#welcome{
		
		background: url('spotifyPartyGray.png') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		height: 24em;

		p{
			color: black;
			background: rgba(255, 255, 255, 0.85);
			width: 100%;
		}

	}

	div#features{
		
		background: @focusColor;

		p{
			.OxygenFont(white, 1.25em);
			margin: 0;
		}

	}

	div#credits{

		img{
			margin: 0 2em;
		}

	}

	div#footer{
		background: black;
	}

p.inputHolders{
	margin: 0;
	padding: 0;
}

button.homeButton{

	background: rgba(255, 255, 255, 0.85);
	float: left;
	width: 48%;
	margin: 1%;
	padding: 1% 0;
	border-radius: 2em;
	border: 1em solid black;
	transition: all 0.35s;
	text-align: center;
	font-size: 1em;

	img{
		height: 10em;
		clear: both;
	}

}

	button.homeButton:hover{
		border: 2.5em solid white;
		background: rgba(255, 255, 255, 1.0);
		height: 18em;
	}

span.fancy{
	font-family: @pacifico;
	font-size: 1.5em;
}

div#party, div#search{
	
	clear: both;
	.SlideButton();
	.FullWidth();
	.Center();

	input, button{
		float: left;
		display: inline-block;
		height: 3em;
		line-height: 3em;
		font-size: 1.5em;
		padding: 0;
		//border: 0.25em solid white;
		border: none;
	}

	input{
		.FullWidth();
		margin-right: -1.25em;
		text-align: center;
		float: left;
		background: rgba(255, 255, 255, 0.5);
		color: @charcoal;
		.PlaceHolder();
	}

	button{

		float: right;
		width: 3em;
		padding: 0;
		clear: right;
		margin: 0;
		margin-top: -3em;
		background: @charcoal;

		img{
			width: 1.5em;
			.Center();
		}

	}

	div#previewPlayer{

	}


		button.longButton{
			width: 100%;
			font-size: 1.5em;
			height: 2em;
			line-height: 1.5em;
			margin: 1em auto;
		}

	div#currentParty{
		display: none;
		height: 4.5em;
		width: 100% - 10em;
		background: @charcoal;
		position: absolute;
		z-index: 10;
		line-height: 4.5em;
		transition: all 0.35s;
	}

		div#currentParty:hover{
			background: white;
			color: @charcoal;
		}

	button.partyOptions{
		display: none;
		position: absolute;
		float: right;
		z-index: 15;
		width: 3em;
		height: 3em;
		border: none;
		margin-top: 0;
	}

}

div#search{
	margin-bottom: 6em;
}

p.instructions{
	clear: both;
	font-size: 1.5em;
	line-height: 2em;
	height: 2em;
}

div#rankings{

	div.item{

		.FullWidth();
		height: 80px;
		margin: 1em 0;

		button{
			position: absolute;
			display: inline-block;
			width: 80px;
			height: 80px;
			line-height: 40px;
			padding: 0;
			margin: 0;
			z-index: 10;
			border: 10px solid @focusColor;
			color: @focusColor;
			font-size: 50px;
			font-weight: 700;
			background: rgba(0, 0, 0, 0.5);
			transition: background 1s;
		}

		button:hover{
			background: rgba(255, 255, 255, 0.5)
		}

		iframe{
			display: inline-block;
			width: 100%;
			height: 80px;
			margin-bottom: 1em;
			z-index: 5;
		}

	}

}

div.songWrapper{

	@wrapperHeight: 6em;
	width: 100% - 1.5em;
	background: @charcoal;
	height: @wrapperHeight;
	display: inline-block;
	margin-bottom: 1em;
	padding: 0;
	border: 0.5em solid white;
	transition: all 0.35s;
	float: right;

	div.trackSelector, div.songResult, div.songData, img.albumPicture{
		height: @wrapperHeight;
		float: left;
		display: inline-block;
		margin: 0;
		transition: all 0.35s;
	}

	div.trackSelector{
		background: @charcoal;
		background-size: @wrapperHeight;
		width: @wrapperHeight/2;
		height: @wrapperHeight;
		text-align: center;
		font-size: 1em;
		line-height: 6em;
		font-weight: 700;
		padding: 0;
		border: none;
	}

	div.songResult{
		
		width: auto;
		background: transparent;
		height: @wrapperHeight;
		line-height: @wrapperHeight;
		margin-left: 1em;

		h2, h3{
			font-family: @oxygen;
			text-align: left;
			line-height: 0;
			padding: 0;
			margin: 0;
		}

		h2{
			font-family: @pacifico;
			font-size: 2em;
			line-height: 2em;
		}

		h3{
			font-size: 1em;
			line-height: 1em;
		}

	}

	span.songScore{
		font-family: @oxygen;
		font-size: 0.75em;
		color: @focusColor;
	}

	img.albumPicture{
		width: @wrapperHeight;
	}

	img.albumPicture:hover{
		margin-top: -1em;
	}

	button.removeButton, button.upvote{
		background: @focusColor;
		color: @charcoal;
		margin: 2em;
		height: 3em;
		line-height: 3em;
		width: 3em;
		float: right;
		border-radius: 1.5em;
		text-align: center;
	}

	button.upvote{
		
		img{
			margin-top: 0.25em;
			height: 2em;
		}

	}

}

div.songWrapper:hover{
	
	//margin-left: -2em;
	width: 100% + 2em;
	background: white;
	color: @charcoal;

	div.trackSelector{
		background: white;
		color: @charcoal;
	}

}

div#player{
	
	iframe{
		width: 100%;
		height: 6em;
		margin: 0;
	}

}

div.alert{
	@alertWidth: 30%;
	width: @alertWidth;
	position: fixed;
	top: 20%;
	left: (100% - @alertWidth)/2;
	.Center();
	padding: 1em;
	background: @focusColor;
	border: 0.5em solid white;
	z-index: 10;
}

div#footer{

}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p{
	padding: @defaultPadding;
	.OxygenFont(white, 1.25em);
	.Center();
}

h1{
	padding: @defaultPadding;
	.OxygenFont(white, 1.75em);
	.Center();
}

/*li{
	background: @charcoal;
	.OxygenFont(white, 1.25em);
	text-align: left;
}*/

ul li{
	list-style-type: square;
}

/*--------------------------------------------*/
/*---> IMAGES <-------------------------------*/
/*--------------------------------------------*/

.Center(){
	margin: auto auto;
	display: block;
	text-align: center;
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/

.PlaceHolder(@color: #1A1A1A) {
	input::-webkit-input-placeholder { color: @color; }
	input:-moz-placeholder { color: @color; }
	textarea::-webkit-input-placeholder { color: @color; }
	textarea:-moz-placeholder { color: @color; }
}

.FormCleanse(){
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
}

input, select, button{
	.FormCleanse();
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.SlideButton(){

	input, button{
		background: transparent;
		border: 0.25em solid white;
		.OxygenFont(white, 2em);
		padding: 0 1em;
		margin: 1em;
		.PlaceHolder(@charcoal);
	}

	button{
		.OxygenFont(white, 2em);
		// Based on tutorial from: stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css
		background: linear-gradient(to right, transparent 50%, @darkTone 50%);
		background-size: 200% 100%;
		background-position: left bottom;
	}

	button:hover{
		background-position: right bottom;
		transition: all 0.5s ease;
	}

	button:active{
		background: @lightTone;
	}

}

@media screen and (max-aspect-ratio: 3/2){
	
	input, button{
		padding: 0;
		display: block;
		width: 100%;
		.Center();
		margin: 1em auto;
	}

}

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
    .OxygenFont(@focusColor, 1.25em);
}

@scrollBar: rgba(255, 255, 255, 1.0);
@scrollBarBack: rgba(255, 255, 255, 0.0);
@size: 10px;

::-webkit-scrollbar{
	width: @size;
	background: @scrollBarBack;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
	padding: 20px;
	border-radius: 10px;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	border-radius: @size;
}

::-webkit-scrollbar-corner{
	width: @size;
	height: @size;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}

@placeholderColor: rgba(255, 255, 255, 0.75);

::-webkit-input-placeholder {
   color: @placeholderColor;
}

:-moz-placeholder { /* Firefox 18- */
   color: @placeholderColor;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @placeholderColor;  
}

:-ms-input-placeholder {  
   color: @placeholderColor;  
}