/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@mainColor: #2d0a58;
@mainLight: @mainColor + #222222;
@mainDark: @mainColor - #222222;

@charcoal: #1a1a1a;
@lightGray: transparent;

@softPurple: #b789f5;

@freeGreen: #b3ff99;
@maybeYellow: #ffff99;
@busyRed: #ff9999;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@textSize: 3vh;
@tx: @textSize;

@Raleway: 'Raleway', sans-serif;

@SourceSansPro: 'Source Sans Pro', sans-serif;

.HeadFont(){
	font-family: @Raleway;
}

.BodyFont(){
	font-family: @SourceSansPro;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p, h1, h2, h3, ul, li{
	.BodyFont();
	margin: (0.5 * @textSize) auto;
}

h1, h2, h3{
	.HeadFont();
	text-align: center;
	font-weight: bolder;
	color: @mainColor;
	width: 95%;
}

h1{
	font-size: 1.5 * @textSize;
	line-height: 1.75 * @textSize;
}

h2{
	font-size: 1.25 * @textSize;
	line-height: 1.5 * @textSize;
}

h2{
	font-size: 1.1 * @textSize;
	line-height: 1.35 * @textSize;
}

p{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	text-align: center;
}

ul{
	width: 80%;
	margin: auto 10%;
}

li{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	list-style: disc;
	margin: (0.15 * @textSize) auto;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

.FillBackgroundImage(){
	//background-image property filled in by HTML
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html{
	background: url('img/tri-white.png');
	//.FillBackgroundImage();
	background-size: 20vh;
	/*background-attachment: fixed;
	background-position: top center;
	background-size: auto 150%;*/
	//Default Text Styles
	.BodyFont();
	font-size: @textSize;
	color: white;
	overflow-x: hidden;
}

body{
	margin: 0;
	width: 98vw;
	margin: 0 auto;
}

.AnimateAll(@time: 0.5s){
	transition: all @time ease;
	-webkit-transition: all @time ease;
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

div.meeting-wrapper{
	width: 95vw;
	overflow-x: scroll;
}

div.meeting-slider{
	width: 100vw;
}

div.container{

	background: url('img/whiteDiagmonds.png');
	color: @charcoal;
	width: 85vw;
	padding: 2vh;
	margin: 4vh auto;
	margin-bottom: 2vh;
	border-radius: 1vh;

	button.page-button{

		width: 100%;
		//background: url('img/purple.png');
		background: @mainColor;
		color: white;
		height: 2.0 * @textSize;
		line-height: 2.0 * @textSize;
		font-size: 1.0 * @textSize;
		text-align: center;
		margin-top: 2vh;

		&:hover{
			background: @freeGreen;
			color: @charcoal;
			font-weight: bold;
		}

		.AnimateAll();

	}

}

center.two-buttons{

	button{
		width: 45%;
		margin: 2%;
		margin-top: 2vh;
	}

}

button#search-button{

	width: 2.0 * @textSize;
	height: 2.0 * @textSize;
	float: right;
	position: relative;
	margin-top: -2.0 * @textSize;
	background: transparent;
	color: @mainColor;
	font-weight: bolder;

	&:hover{
		background: @mainColor;
		color: white;
	}

	.AnimateAll();

}

ul#my-meeting-list{

	li{

		background: @mainColor;
		color: white;
		list-style: none;
		width: 100%;
		text-align: center;
		padding: 1vw;
		margin-top: 1vh;

		&:hover{
			background: @freeGreen;
			color: @charcoal;
		}

		.AnimateAll();

	}

}

section#create-event{

	p{
		color: @mainColor;
	}

}

/*--------------------------------------------*/
/*---> MEETING CREATOR <----------------------*/
/*--------------------------------------------*/

div#creator{

	table{
		margin-top: 1vh;
	}

	input{
		width: 96%;
		margin: 1vh auto;
	}

	input[type="text"]{

		background: #F2F2F2;
		border-left: 1vh solid @mainColor;
		//TEXT STYLES
		text-align: center;
		font-size: 0.75 * @tx;
		line-height: 1.25 * @tx;
		.BodyFont();

		&:focus, &:hover{
			border-left: 1vh solid @freeGreen;
		}

		.AnimateAll();

	}

	input#creator-name{
		padding: 4% 2%;
		//TEXT STYLES
		text-align: center;
		font-size: 1.25 * @tx;
		color: @mainColor;
		line-height: 1.5 * @tx;
		.HeadFont();
	}

	textarea{

		width: 96%;
		max-width: 96%;
		padding: 2%;
		margin-top: 1.5vh;
		margin-bottom: 1vh;
		border-left: 1vh solid @mainColor;
		background: #F2F2F2;
		//TEXT STYLES
		font-size: 1.00 * @tx;
		color: @charcoal;
		line-height: 1.25 * @tx;
		.BodyFont();

		&:focus, &:hover{
			border-left: 1vh solid @freeGreen;
		}

		.AnimateAll();

	}

	button.remove-date, button.remove-time{
		background: none;
		color: @busyRed;
		margin-left: 1vh;
		//TEXT STYLES
		font-size: 0.75 * @tx;
		line-height: 1.25 * @tx;
		.BodyFont();
	}

	button.page-button{
		width: 45%;
		height: 1.5 * @tx;
		margin: 1vh;
		display: inline-block;
		//TEXT STYLES
		font-size: 0.75 * @tx;
		line-height: 1.5 * @tx;
	}

	//OVERRIDE pickadate.js STYLES

	div.picker{

		width: 100%;

		ul{
			width: 100%;
		}

	}

	div.picker--time{
		min-width: 0;
		max-width: 100vw;
	}

	div.picker__holder{
		border: 1vh solid @mainColor;
		outline: none;
	}

	div.picker__day:hover{
		background: lighten(@mainColor, 65%);
	}

	div.picker__day--highlighted{
		background: @mainColor;
	}

	div.picker__box{
		width: 100%;
	}

}

/*--------------------------------------------*/
/*---> HEADER & FOOTER <----------------------*/
/*--------------------------------------------*/

header{

	background: url('img/whiteDiagmonds.png');
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	border-top: 1vh solid @mainColor;
	border-bottom: 1vh solid @mainColor;
	height: 10vh;
	z-index: 60;

	img{
		height: 6vh;
		margin-top: 2vh;
		margin-left: -3vh;
	}

	button, div#image-bubble{
		position: fixed;
		width: 6vh;
		height: 10vh;
		top: 1vh;
		right: 0;
	}

	button{

		background: url('img/tri-white.png');
		color: @mainColor;
		//font-weight: bold;
		font-size: 4vh;

		&:hover{
			background: @mainColor;
			color: white;
		}

		.AnimateAll();

	}

	div#image-bubble{

		z-index: 70;
		height: 6vh;
		width: 6vh;
		background: url('img/tri-white.png');
		border-radius: 3vh;
		background-size: 6vh;
		top: 3vh;
		left: 3vh;

		&:hover{
			top: 2vh;
			left: 2vh;
			height: 8vh;
			width: 8vh;
			border-radius: 4vh;
			background-size: 8vh;
			transform: rotate(-30deg);
			-webkit-transform: rotate(-30deg);
		}

		.AnimateAll();

	}

}

div.headerSpace{
	height: 11vh;
}

/*--------------------------------------------*/
/*---> MENU <---------------------------------*/
/*--------------------------------------------*/

div#menu{

	button{

		width: 100%;
		//background: url('img/purple.png');
		background: @mainColor;
		color: white;
		height: 2.0 * @textSize;
		line-height: 2.0 * @textSize;
		font-size: 1.0 * @textSize;
		text-align: center;
		margin-top: 2vh;

		&:hover{
			background: @freeGreen;
			color: @charcoal;
			font-weight: bold;
		}

		.AnimateAll();

	}

}

/*--------------------------------------------*/
/*---> USER ERROR OUTPUT <--------------------*/
/*--------------------------------------------*/

div#error-output{

	background: @busyRed;
	border: 0.5vh solid darken(@busyRed, 10%);
	display: none;
	margin: 1vh auto;

	p{
	
		color: white;
		font-size: 0.75 * @tx;
		margin: 0;
	
		&::after{
			content: ' (Click to Close)';
			font-size: 0.5 * @tx;
		}

	}

}

/*--------------------------------------------*/
/*---> TABLES <-------------------------------*/
/*--------------------------------------------*/

/*table{
	margin: 1vh auto;
	width: 98% - 2vh;
	margin-bottom: 6.0 * @textSize;
}

th{
	font-size: 0.75 * @textSize;
	height: 1.5 * @textSize;
	line-height: 1.5 * @textSize;
	background: @charcoal;
	color: white;
	width: 20vw;
}*/

table.time-grid-view{

	background: @freeGreen;
	overflow: hidden;

	td, th{
		width: 10 * 2.5 * @tx;
		text-align: center;
		height: 1.25 * @tx;
		line-height: 1.25 * @tx;
		font-size: 0.75 * @tx;
	}

	td.time-slot{
		background: @freeGreen;
		color: @charcoal;
	}

	.grid-label{
		background: @charcoal;
		color: white;
	}

	/*tr:hover td{
		opacity: 0.5;
	}

	td, th{

		position: relative;

		&:hover{
			color: white !important;
		}

		&:hover::after{
			content: '';
			position: absolute;
			background: @freeGreen;
			opacity: 1.0;
			left: 0;
			top: -50vh;
			height: 100vh;
			width: 100%;
			z-index: 50;
		}

	}*/

}

div.table-slider{
	//border: 10px solid orange;
}

/*--------------------------------------------*/
/*---> FILTER VIZ <---------------------------*/
/*--------------------------------------------*/

table#filter-responses{

	div.slot{
		overflow: visible;
		//height: 3 * 1.5 * @textSize;
		line-height: 1.5 * @textSize;
		/*background: rgba(255, 255, 255, 0.5);
		color: @charcoal;*/
		font-weight: bold;
		display: block;
	}

	/*div.grid-label{
		background: @charcoal;
		color: white;
	}*/

	div.pointer{
		position: absolute;
		margin: -2vh 2vh;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 2vh 2vh 2vh;
		border-color: transparent transparent @charcoal transparent;
	}

	div.time-label{
		display: none;
	}

	div.people-free{
		background: @freeGreen;
		color: @charcoal;
		font-weight: bold;
	}

	div.slot:hover div.name-filter{
		display: block;
	}

	div.name-filter{

		display: none;
		position: absolute;
		z-index: 50;
		margin-top: 0.25 * @textSize;
		border: 0.25 * @textSize solid @charcoal;

		background: @freeGreen;
		color: @charcoal;
		
		margin-bottom: 0.5vh;

		ul{

			width: 100%;
			margin: 0;
			list-style: none;

			li{
				text-align: center;
				font-size: 0.75 * @textSize;
				line-height: 1.0 * @textSize;
				list-style: none;
				margin: (0.05 * @textSize) auto;
				padding: 0.25 * @textSize;

			}
		}

	}

}


/*--------------------------------------------*/
/*---> X-TAGS <-------------------------------*/
/*--------------------------------------------*/

x-timeslot, div.timeslot{
	
	div{

		font-size: 0.75 * @textSize;
		text-align: center;
		color: white;

		&:hover{
			//opacity: 0.5;
		}

		.AnimateAll(0.25s);

	}

	div.slot{
		padding: 2%;
		margin: 2% auto;
		width: 94%;
		height: 1.5 * @textSize;
		line-height: 1.5 * @textSize;
		overflow: hidden;
	}

	div.priority{
		background-image: url('img/trans-lines.png');
		background-size: 5vh;
		font-weight: bold;
	}

	div.popup{
		
		background: white;
		border: 1vh solid @charcoal;
		position: absolute;
		margin-top: (0 * @textSize);
		margin-left: 4vh;

		button.page-button{

			width: 100%;
			padding: 1vh;
			background: @charcoal;
			color: @charcoal;
			font-weight: bold;
			text-align: center;
			float: left;
			clear: both;
			display: inline-block;

		}

		div.pointer{
			position: absolute;
			margin: -2vh 2vh;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 2vh 2vh 2vh;
			border-color: transparent transparent @charcoal transparent;

		}

		button.available{
			background: @freeGreen;
		}

		button.partial{
			background: @maybeYellow;
		}

		button.unavailable{
			background: @busyRed;
		}

	}

}

div.is-free{
	background-color: @freeGreen;
	color: @charcoal !important;
	font-weight: bold;
}

div.maybe-free{
	background-color: @maybeYellow;
	color: @charcoal !important;
	font-weight: bold;
}

div.not-free{
	background-color: gray;
}

div.visible{
	display: block;
}

div.invisible{
	display: none;
}

p.range-break{
	height: 0.5 * @textSize;
	line-height: 0;
}

/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select, textarea{
	outline: none;
	border: none;
	box-sizing: border-box;
}

input.underscore-bar{

	width: 100%;
	color: @charcoal;
	border-bottom: 1vh solid @mainColor;
	text-align: center;
	height: 2.0 * @textSize;
	line-height: 2.0 * @textSize;
	font-size: 1.0 * @textSize;

	&:focus{
		border-bottom: 1vh solid @freeGreen;
	}

	.AnimateAll();

}

option{
	text-align: center;
	width: 50%;
}

div.editorUI{

	background: url('img/whiteDiagmonds.png');
	color: @charcoal;
	width: 85vw;
	padding: 2vh;
	margin: 4vh auto;
	border-radius: 1vh;

	h1, h2, h3{
		color: @charcoal;
	}

	input, button.page-button, select{
		outline: none;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		height: 2.0 * @textSize;
		font-size: 1.0 * @textSize;
		text-align: center;
		width: 96%;
		margin: 1vh 2%;
		.BodyFont();
	}

	input[type="date"]{
		background: @lightGray;
		padding-left: 2.6 * @textSize;
		color: @charcoal;
		font-weight: bold;
		margin: 1vh auto;
	}

	div#selected-dates{

		width: 92%;
		margin: 1vh 2%;
		padding: 1%;
		background: @lightGray;

		div.date-icon{
			background: @mainColor;
			width: 22%;
			height: 1.5 * @textSize;
			line-height: 1.5 * @textSize;
			color: white;
			border-radius: 0.5vh;
			font-weight: bold;
			text-align: center;
			display: inline-block;
			margin: 1%;
		}

	}

	/*div.selector-label{
		background: @charcoal;
		color: white;
		width: 2.0 * @textSize;
		height: 1.8 * @textSize;
		padding: (0.1 * @textSize) (0.2 * @textSize);
		line-height: 2.0 * @textSize;
		font-size: 0.75 * @textSize;
		position: absolute;
		margin-top: 1vh;
		text-align: center;
	}

	div.start-label{
		margin-left: 0.25 * @textSize;

		&+ select{
			padding-left: 1.8 * @textSize;
		}
	}

	div.end-label{
		margin-top: -7vh;
		right: 0.25 * @textSize;
	}*/

	select{
		background: @lightGray;
		color: @charcoal;
		font-weight: bold;
		width: 45%;
		display: inline-block;
	}

	button.page-button{

		font-weight: bold;
		height: 2.0 * @textSize;

		&:hover{
			height: 2.5 * @textSize;
		}

		.AnimateAll();

	}

	button.priority-setter{
		width: 45%;
		margin: 2%;
		display: inline-block;
	}

	button#set-normal{
		background: @maybeYellow;
	}

	button#set-priority{
		background: @freeGreen;
	}

	button#add-meeting{
		background: @mainColor;
		color: white;
	}

}

button.page-button{

	&:hover{
		background: @freeGreen;
	}

	.AnimateAll();

}

/*--------------------------------------------*/
/*---> DRAGGING <-----------------------------*/
/*--------------------------------------------*/

button#toggle-drag{

	width: 95%;
	margin: 1vh 2.5%;
	font-size: 0.65 * @textSize;

	&.drag-disabled{

		background: @busyRed;

		&::before{
			content: 'Dragging is disabled. Click to turn on.'
		}
	
	}

	&.drag-enabled{

		background: @freeGreen;

		&::before{
			content: 'Dragging is enabled. Click to turn off.'
		}
	
	}

}

/*--------------------------------------------*/
/*---> POPUPS <-------------------------------*/
/*--------------------------------------------*/

//NAME CONFLICT WITH RSVP POPUPS: DO NOT USE!

/*div.popup{

	position: fixed;
	left: 25vw;
	width: 50vw;
	background: @mainColor;

	h2{
		color: white;
	}

	textarea{
		width: 90%;
		padding: 5%;
		height: 5.0 * @textSize;
		border: none;
		outline: none;
		font-size: 0.75 * @textSize;
		line-height: 1.25 * @textSize;
		font-family: @SourceSansPro;
	}

	button{

		width: 20vw;
		margin: 1.5vh 15vw;
		background: url('img/tri-white.png');
		font-size: 0.75 * @textSize;
		line-height: 1.25 * @textSize;
		font-weight: bolder;
		color: @mainColor;

		&:hover{
			background: @freeGreen;
		}

		.AnimateAll();

	}

}

div.popup-opened{
	position: fixed;
	bottom: 0;
}

div.popup-closed{
	position: fixed;
	bottom: 100vh;
}*/

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: @mainColor;//rgba(255, 255, 255, 0.5);
@scrollBarBack: white;//rgba(255, 255, 255, 0.1);

::-webkit-scrollbar{
	width: 2vw;
	height: 2vw;
	background: @scrollBarBack;
	z-index: 50;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	//border-radius: 5px;
	position: absolute;
	margin-left: -2vw;
}

::-webkit-scrollbar-corner{
	width: 2vw;
	height: 2vw;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}