@focusTone: #61B329;
@lightTone: @focusTone + #222222;
@darkTone: @focusTone - #222222;
@charcoal: #1a1a1a;

@BubblegumSans: 'Bubblegum Sans', cursive;
@Cabin: 'Cabin', sans-serif;

/*--------------------------------------------*/
/*---> GAME ELEMENTS <------------------------*/
/*--------------------------------------------*/

@boardSize: 450px;
@roadWidth: @boardSize / 12;
@crossingSpeed: 10s;

div.gameContainer{
	//float: left;
}

@borderPad: (@roadWidth * 0.25) solid transparent;

div.board{
	width: @boardSize;
	height: @boardSize;
	margin: 0 auto;
	border: @borderPad;
}

div.road{
	position: absolute;
	width: @boardSize;
	height: @roadWidth;
	line-height: @roadWidth;
	overflow: hidden;
	background: rgba(26, 26, 26, 0.5);
	color: white;
	font-family: @Cabin;
	text-align: right;
	z-index: 5;
	border-left: @borderPad;
	border-right: @borderPad;
	margin-left: (@roadWidth * -0.25);

	p.roadName{
		position: absolute;
		color: lighten(@charcoal, 50%);
		width: 100%;
		height: @roadWidth;
		line-height: @roadWidth;
		font-size: @roadWidth / 2;
		margin: 0;
		padding: 0;
	}

}

div.vertical{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	margin-top: (@boardSize - @roadWidth) / 2;
	text-align: left;
}

div.car{
	@carSize: @roadWidth * 0.75;
	position: absolute;
	background-size: @carSize;
	background-repeat: no-repeat;
	background-position: (@roadWidth * 0.25) / 2;
	filter: saturate(5);
	-webkit-filter: saturate(5);
	margin-top: (@roadWidth * 0.25) / 2;
	width: @carSize * 2;
	height: @carSize;
	border-radius: @carSize * 0.25;
	line-height: @carSize;
	font-size: @carSize / 2;
	text-align: center;
	//.MovingCar();
	transition: all 1s linear;
	z-index: 20;
}

@-webkit-keyframes moveCar{
	to{
		margin-left: @boardSize;
	}
}

.MovingCar(@speed: @crossingSpeed){
	animation: moveCar @speed linear infinite;
}

div.cloud{
	position: absolute;
	width: @roadWidth;
	height: @roadWidth;
	background-image: url('cloud.png');
	background-size: @roadWidth auto;
	background-repeat: no-repeat;
	.PulsingCloud();
}

@-webkit-keyframes pulseCloud{
	from{
		opacity: 1.0;
	}
	50%{
		opacity: 0.5;
	}
	to{
		opacity: 1.0;
	}
}

.PulsingCloud(@speed: 5s){
	animation: pulseCloud @speed linear infinite;
}

/*--------------------------------------------*/
/*---> USER ELEMENTS <------------------------*/
/*--------------------------------------------*/

div.statsWindow{

	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 0%;
	background: @darkTone;
	color: white;
	border-right: 5vw solid @lightTone;
	overflow-y: scroll;
	z-index: 50;

	&:hover{
		width: 30vh;
	}

	button{

		background: @lightTone;
		padding: 0;
		width: 100%;
		height: 10vh;
		line-height: 10vh;
		font-size: 4vh;
		margin-bottom: 2vh;
		font-family: @Cabin;
		font-weight: bold;
		text-align: center;
		color: white;
		outline: none;
		border: none;

		&:hover{
			background: @charcoal;
			height: 20vh;
			line-height: 20vh;
		}

		transition: all 0.5s ease;

	}

	transition: all 0.5s ease;

}

ul#nearbyTreesWindow{

	li.info{
		margin: 2vh auto;
		width: 22vh;
		background: transparent;
		font-family: @Cabin;
		text-align: center;
	}

	li.treeInfoWrapper{

		background: @lightTone;
		font-family: @Cabin;
		font-size: 4vh;
		line-height: 5vh;
		padding: 1vw;
		margin: 2vh auto;
		height: 18vh;
		width: 18vh;
		border-radius: 3vh;

		&:hover{
			background: white;
			color: @darkTone;
		}

		img, div.treeInfo{
			display: block;
		}

		img{
			margin: auto auto;
			height: 9vh;
		}

		div.treeInfo{

			margin-top: 1vh;
			line-height: 4vh;
			background: transparent;
			font-weight: bold;
			text-align: center;
			overflow: hidden;

			span.coords{
				color: @darkTone;
				font-weight: normal;
				font-size: 55%;
			}

		}

		transition: all 0.5s ease;

	}

}