/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@focusTone: #61B329;
@lightTone: @focusTone + #222222;
@darkTone: @focusTone - #222222;

/*--------------------------------------------*/
/*---> LAYOUT <-------------------------------*/
/*--------------------------------------------*/

.Center(@textAlign: center){
	margin: auto 0;
	text-align: @textAlign;
}

html{
	background:  @focusTone;
}

ul#nearbyTreesList{

	li{
		width: 90%;
		height: 2em;
		line-height: 2em;
		padding: 0.5em;
		background: @darkTone;
		color: white;
		margin: 0.5em auto;
		font-family: @Cabin;
		font-size: 1em;
		overflow: hidden;
	}

}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

// Import and Assign Google Fonts
@BubblegumSans: 'Bubblegum Sans', cursive;
@Cabin: 'Cabin', sans-serif;

h1, h2, h3, p{
	margin: 0.5em 0;
	padding: 0.5em;
}

h1, h2, h3, h4{
	font-family: @BubblegumSans;
	font-weight: bold;
	color: white;
	text-align: center;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 1.5em;
}

p{
	color: @darkTone;
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/

.FormCleanse(){
	outline: none;
	border: none;
	border-radius: 0;
}

.PlaceHolder(@color: white) {
	input::-webkit-input-placeholder { color: @color; }
	input:-moz-placeholder { color: @color; }
	textarea::-webkit-input-placeholder { color: @color; }
	textarea:-moz-placeholder { color: @color; }
}

input#nearbyTreesLimit{
	.FormCleanse();
	margin: 0.5em auto;
	background: @darkTone;
	color: white;
	width: 100%;
	height: 2em;
	line-height: 2em;
	font-family: @BubblegumSans;
	font-size: 2em;
	text-align: center;
}

/*--------------------------------------------*/
/*---> ANIMATIONS <---------------------------*/
/*--------------------------------------------*/



/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: white;
@scrollBarBack: transparent;
@scrollBarSize: 10px;

::-webkit-scrollbar{
	width: @scrollBarSize;
	height: @scrollBarSize;
	background: @scrollBarBack;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	border-radius: @scrollBarSize/2;
	position: absolute;
	margin-left: -1 * @scrollBarSize;
}

::-webkit-scrollbar-corner{
	width: @scrollBarSize;
	height: @scrollBarSize;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}