/*--------------------------------------------*/
/*---> GLOBALS <------------------------------*/
/*--------------------------------------------*/


@gold: #f6a525;
@maroon: #63000c;
@charcoal: #1a1a1a;

@mainColor: @maroon;
@mainDark: darken(@mainColor, 10%);
@mainLight: lighten(@mainColor, 10%);


@textSize: 5vh;

@headFont: 'Titillium Web', sans-serif;
@bodyFont: 'Source Sans Pro', sans-serif;

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

html{
	background: @mainLight;
	overflow-x: hidden;
	font-family: @bodyFont;
}

.AnimateAll(@time: 0.5s){
	transition: all @time ease;
	-webkit-transition: all @time ease;
}

div.sidebar{

	position: fixed;
	background: @charcoal;
	top: 0;
	z-index: 20;
	width: 80vw;
	height: 90vh;

	&.open{
		left: 0;
	}

	&.closed{
		left: -80vw;
	}

	p, ul{
		width: 70vw;
		margin: 5vw;
		color: white;
		line-height: 0.75 * @textSize;
		text-align: center;
	}

	li{
		color: @gold;
		margin: 5vh auto;
	}

	.AnimateAll();

}

header{

	width: 100vw;
	height: 10vh;
	line-height: 10vh;
	background: @mainColor;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;

	img#logo{
		height: 8vh;
		margin: 1vh auto;
		.AnimateAll();
	}

	&:hover{
		
		background: white;

		span#menu{
			color: @gold;
		}
		//height: 16vh;

		img#logo{
			margin: 0.5vh auto;
			height: 9vh;
		}

	}

	span#menu{

		position: absolute;
		color: white;
		font-size: 8vh;
		line-height: 10vh;
		left: 2vh;

		&:hover{
			color: rgba(255, 255, 255, 0.5);
		}

		.AnimateAll();

	}

	.AnimateAll();

}

div#menuOptions{

	position: fixed;
	top: -95vh;
	left: 10vw;
	width: 80vw;
	height: 70vh;
	background: @gold;
	z-index: 10;

	&.closed{
		top: -95vh;
	}

	&.open{
		top: 15vh;
	}

	p{
		width: 70vw;
		margin: 2.5vw;
		color: white;
		line-height: 0.75 * @textSize;
		text-align: center;
	}

	div.menuOption{

		color: white;
		height: 1.5 * @textSize;
		line-height: 1.5 * @textSize;
		background: @charcoal;
		margin-bottom: 0.5vh;
		font-size: 0.75 * @textSize;
		border-left: 2vw solid @mainColor;

		&:hover{
			background: @mainColor;
		}

		.AnimateAll();

	}

	.AnimateAll();

}

footer{

	width: 100vw;
	height: 10vh;
	background: @mainColor;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 25;

	textarea{
		margin: 0 5vw;
		width: 90vw;
		max-width: 90vw;
		padding: 0vw 3vw;
		height: 10vh;
		line-height: 5vh;
		left: 0;
		background: transparent;
		color: white;
		font-family: @bodyFont;
		font-size: 3vh;
		text-align: center;
	}

}

div.headerSpace{
	height: 10vh;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, ul, li, input, select, button{
	font-family: @bodyFont;
	font-size: @textSize;
}

h1, h2, h3, h4, h5, h6{
	font-family: @headFont;
	color: white;
	margin: 1vh auto;
}

h1{
	font-size: 1.5 * @textSize;
	text-align: center;
}

h2{
	font-size: 1.35 * @textSize;
}

h3{
	font-size: 1.15 * @textSize;
}

p{
	font-size: 0.5 * @textSize;
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/

button, input, textarea, select{
	outline: none;
	border: none;
	box-sizing: border-box;
}

button{

	margin: auto 15vw;
	width: 50vw;
	height: 10vh;
	line-height: 10vh;
	background: @gold;
	color: white;

	&:hover{
		background: @mainColor;
	}

	.AnimateAll();

}

input{
	width: 50vw;
	padding: 0 2vw;
	text-align: center;
	margin: 5vh auto;
}

/*--------------------------------------------*/
/*---> TOWERS <-------------------------------*/
/*--------------------------------------------*/

div#preset-towers{

	div.tower{
		background: url('img/whiteTower.png');
		background-size: 100%;
		display: inline-block;
		width: 15vh;
		margin: 1vh 5vw;
		height: 15vh;
		line-height: 17.5vh;
		font-family: @headFont;
		text-align: center;
		font-size: 5vh;
	}

	div.tower{

		color: @gold;

		&.preset{
			opacity: 1.0;
		}

		&.selected{
			opacity: 0.5;
		}

		&.used{
			display: none;
		}

		.AnimateAll();

	}

}