.visualizer {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 40px;
    /*border: 1px solid #CCC;*/
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
         -o-perspective: 1000px;
            perspective: 1000px;
  }

  #cubeSpace {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
       -moz-transition: -moz-transform 1s;
         -o-transition: -o-transform 1s;
            transition: transform 1s;
  }

  #cubeSpace figure {
    display: block;
    position: absolute;
    width: 195px;
    height: 195px;
    padding: 2.5px;
    /*border: 2px solid black;*/
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  #cubeSpace.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  /*#cubeSpace #face-front  { background: hsla(   0, 100%, 50%, 0.7 ); }
  #cubeSpace #face-back   { background: hsla(  60, 100%, 50%, 0.7 ); }
  #cubeSpace #face-right  { background: hsla( 120, 100%, 50%, 0.7 ); }
  #cubeSpace #face-left   { background: hsla( 180, 100%, 50%, 0.7 ); }
  #cubeSpace #face-up    { background: hsla( 240, 100%, 50%, 0.7 ); }
  #cubeSpace #face-down { background: hsla( 300, 100%, 50%, 0.7 ); }*/

  #cubeSpace #face-front  {
    -webkit-transform: rotateY( 0deg ) translateZ( 100px );
       -moz-transform: rotateY( 0deg ) translateZ( 100px );
         -o-transform: rotateY( 0deg ) translateZ( 100px );
            transform: rotateY( 0deg ) translateZ( 100px );
  }
  #cubeSpace #face-back   {
    -webkit-transform: rotateX( -180deg ) translateZ( 100px );
       -moz-transform: rotateX( -180deg ) translateZ( 100px );
         -o-transform: rotateX( -180deg ) translateZ( 100px );
            transform: rotateX( -180deg ) translateZ( 100px );
  }
  #cubeSpace #face-right {
    -webkit-transform: rotateY(   90deg ) translateZ( 100px );
       -moz-transform: rotateY(   90deg ) translateZ( 100px );
         -o-transform: rotateY(   90deg ) translateZ( 100px );
            transform: rotateY(   90deg ) translateZ( 100px );
  }
  #cubeSpace #face-left {
    -webkit-transform: rotateY(  -90deg ) translateZ( 100px );
       -moz-transform: rotateY(  -90deg ) translateZ( 100px );
         -o-transform: rotateY(  -90deg ) translateZ( 100px );
            transform: rotateY(  -90deg ) translateZ( 100px );
  }
  #cubeSpace #face-up {
    -webkit-transform: rotateX(   90deg ) translateZ( 100px );
       -moz-transform: rotateX(   90deg ) translateZ( 100px );
         -o-transform: rotateX(   90deg ) translateZ( 100px );
            transform: rotateX(   90deg ) translateZ( 100px );
  }
  #cubeSpace #face-down {
    -webkit-transform: rotateX(  -90deg ) translateZ( 100px );
       -moz-transform: rotateX(  -90deg ) translateZ( 100px );
         -o-transform: rotateX(  -90deg ) translateZ( 100px );
            transform: rotateX(  -90deg ) translateZ( 100px );
  }

  /*#cubeSpace.show-front {
    -webkit-transform: translateZ( -100px ) rotateX( 0deg );
       -moz-transform: translateZ( -100px ) rotateX( 0deg );
         -o-transform: translateZ( -100px ) rotateX( 0deg );
            transform: translateZ( -100px ) rotateX( 0deg );
  }
  #cubeSpace.show-back {
    -webkit-transform: translateZ( -100px ) rotateX( -180deg );
       -moz-transform: translateZ( -100px ) rotateX( -180deg );
         -o-transform: translateZ( -100px ) rotateX( -180deg );
            transform: translateZ( -100px ) rotateX( -180deg );
  }
  #cubeSpace.show-right {
    -webkit-transform: translateZ( -100px ) rotateY(  -90deg );
       -moz-transform: translateZ( -100px ) rotateY(  -90deg );
         -o-transform: translateZ( -100px ) rotateY(  -90deg );
            transform: translateZ( -100px ) rotateY(  -90deg );
  }
  #cubeSpace.show-left {
    -webkit-transform: translateZ( -100px ) rotateY(   90deg );
       -moz-transform: translateZ( -100px ) rotateY(   90deg );
         -o-transform: translateZ( -100px ) rotateY(   90deg );
            transform: translateZ( -100px ) rotateY(   90deg );
  }
  #cubeSpace.show-top {
    -webkit-transform: translateZ( -100px ) rotateX(  -90deg );
       -moz-transform: translateZ( -100px ) rotateX(  -90deg );
         -o-transform: translateZ( -100px ) rotateX(  -90deg );
            transform: translateZ( -100px ) rotateX(  -90deg );
  }
  #cubeSpace.show-bottom {
    -webkit-transform: translateZ( -100px ) rotateX(   90deg );
       -moz-transform: translateZ( -100px ) rotateX(   90deg );
         -o-transform: translateZ( -100px ) rotateX(   90deg );
            transform: translateZ( -100px ) rotateX(   90deg );
  }*/

  /*#cubeSpace.show-custom {
    -webkit-transform: translateZ( -100px ) rotateX(   135deg ) rotateY(45deg);
       -moz-transform: translateZ( -100px ) rotateX(   135deg ) rotateY(45deg);
         -o-transform: translateZ( -100px ) rotateX(   135deg ) rotateY(45deg);
            transform: translateZ( -100px ) rotateX(   135deg ) rotateY(45deg);
  }*/

  #cubeSpace { transition: transform 2s; }