font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;

html,body{
	margin: 0;
	padding: 0;
}

html{
	background: url('diagmonds.png');
}

div#header{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: -10px;
	padding-right: 20px;
	background: black;
	color: white;
	text-align: center;
	font-family: "Oswald";
	font-size: 25px;
}

section.visualizer{
	margin-top: 75px;
	margin-bottom: 75px;
}

figure.face{
	background: rgba(0, 0, 0, 1);
}

div.label{
	float: left;
	margin: 2.5px;
	width: 60px;
	height: 57px;
	padding-top: 3px;
	line-height: 34px;
	background: white;
	color: black;
	text-align: center;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: bold;
}

div.partType{
	line-height: 20px;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}

section#options{
	width: 280px;
	margin: auto;
}

section#options button{
	background: black;
	color: white;
	outline: none;
	border: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
}

div.viewLabel{
	display: none;
	position: absolute;
	margin: -60px 0 0 -40px;
	width: 100px;
	height: 20px;
	line-height: 20px;
	background: black;
	color: white;
	font-family: "Open Sans";
	font-size: 10px;
}

div.down-arrow{
	display: none;
	position: absolute;
	height: 0px;
	width: 0px;
	margin: 20px 0 0 40px;
	border-left: 10px solid transparent; 
	border-top: 5px solid black; 
	border-right: 10px solid transparent;
}

section#options button:hover div.viewLabel, section#options button:hover div.down-arrow{
	display: block;
}