font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;

html,body{
	margin: 0;
	padding: 0;
}

html{
	background: url('diagmonds.png');
}

	::-webkit-scrollbar{
		width: 10px;
		height: 10px;
		background: transparent;
	}

	::-webkit-scrollbar-button{
		background: transparent;
	}

	::-webkit-scrollbar-track{
		background: transparent;
	}

	::-webkit-scrollbar-track-piece{
		background: transparent;
	}

	::-webkit-scrollbar-thumb{
		background: rgba(255, 255, 255, 1.0);
	}

	::-webkit-scrollbar-corner{
		width: 10px;
		height: 10px;
		background: transparent;
	}

	::-webkit-resizer{
		background: transparent;
	}

div#header{
	width: 600px;
	height: 50px;
	line-height: 50px;
	margin: auto;
	margin-top: -10px;
	padding: 5px 20px 5px 0;
	background: black;
	color: white;
	text-align: center;
	font-family: "Oswald";
	font-size: 25px;
	z-index: 10;
}

	div#header address{
		font-family: "Open Sans";
		font-size: 7.5px;
		line-height: 10px;
		text-align: right;
		margin: -40px 0 0 0;
		color: #AAAAAA;
	}

section.visualizer{
	margin-top: 75px;
	margin-bottom: 75px;
}

figure.face{
	background: rgba(0, 0, 0, 1);
}

div.label{
	float: left;
	margin: 2.5px;
	width: 60px;
	height: 57px;
	padding-top: 3px;
	line-height: 34px;
	background: white;
	color: black;
	text-align: center;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: bold;
}

div.partType{
	line-height: 20px;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}

section#options{
	width: 280px;
	margin: auto;
}

section#options button{
	background: black;
	color: white;
	outline: none;
	border: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
}

div.viewLabel{
	display: none;
	position: absolute;
	margin: -60px 0 0 -40px;
	width: 100px;
	height: 20px;
	line-height: 20px;
	background: black;
	color: white;
	font-family: "Open Sans";
	font-size: 10px;
}

div.down-arrow{
	display: none;
	position: absolute;
	height: 0px;
	width: 0px;
	margin: 20px 0 0 40px;
	border-left: 10px solid transparent; 
	border-top: 5px solid black; 
	border-right: 10px solid transparent;
}

section#options button:hover div.viewLabel, section#options button:hover div.down-arrow{
	display: block;
}

div.container{
	width: 600px;
	height: 200px;
	margin: auto;
	padding: 5px;
}

div.container input{
	background: black;
	color: white;
	width: 385px;
	max-width: 385px;
	height: 50px;
	line-height: 30px;
	outline: none;
	border: none;
	padding: 10px;
	margin: 0;
	font-family: "Open Sans";
	font-size: 15px;
}

div.container textarea{
	background: black;
	color: white;
	width: 600px;
	max-width: 600px;
	height: 90px;
	line-height: 30px;
	outline: none;
	border: none;
	padding: 10px;
	margin: 20px 0 0 0;
	font-family: "Open Sans";
	font-size: 15px;
}

	textarea#outBox{
		line-height: 15px;
		font-size: 10px;
		margin-bottom: 50px;
	}

div.container button{
	position: absolute;
	outline: none;
	border: none;
	margin: 0 0 0 20px;
	background: white;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "Oswald";
	font-weight: bold;
	font-size: 25px;
}

	div.container button:hover{
		background: black;
		color: white;
	}

	div.container div.viewLabel{
		margin-top: -80px;
		margin-left: -30px;
		font-weight: normal;
	}

	div.container button:hover div.viewLabel, div.container button:hover div.down-arrow{
		display: block;
	}

div#unfoldedView{
	width: 135px;
	height: 0;
	padding: 0 10px 0 10px;
	margin: 15px 0 0 0;
	background: rgba(0, 0, 0, 0.25);
	z-index: 5;
}

div#unfoldedContents{
	padding: 10px 0;
	display: none;
}

div#unfoldedContents p{
	line-height: 30px;
	font-size: 15px;
	font-family: "Open Sans";
	text-align: center;
	margin: 15px 0 0 0;
}

div.faceSquare{
	float: left;
	width: 45px;
	height: 45px;
}

div.faceSquare div.label{
	padding: 0;
	width: 10px;
	height: 10px;
	line-height: 10px;
	font-size: 7.5px;
}

div#setColor{
	width: 135px;
	height: 25px;
}

div#setColor div.label{
	width: 17.5px;
	height: 17.5px;
	line-height: 17.5px;
	font-size: 12px;
}

div#setColor div.label:hover, div.faceSquare div.label:hover{
	opacity: 0.5;
}

div#toggleUnfolded{
	float: left;
	margin: 0 0 0 -10px;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 135px;
	height: 15px;
	line-height: 15px;
	font-size: 15px;
	text-align: center;
	/*border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;*/
}