font-family: 'Raleway', sans-serif;

/* COLORS */
/* Dark Purple: #2d0a58 */

html, body{
	margin: 0;
	padding: 0;
}

html{
	font-family: "Raleway";
	overflow-x: hidden;
}

	::-webkit-scrollbar{
		width: 10px;
		height: 10px;
		background: transparent;
	}

	::-webkit-scrollbar-button{
		background: transparent;
	}

	::-webkit-scrollbar-track{
		background: transparent;
	}

	::-webkit-scrollbar-track-piece{
		background: transparent;
	}

	::-webkit-scrollbar-thumb{
		/*background: rgba(255, 255, 255, 0.5);*/
		background: #2d0a58;
	}

	::-webkit-scrollbar-corner{
		width: 10px;
		height: 10px;
		background: transparent;
	}

	::-webkit-resizer{
		background: transparent;
	}

/* TEXT */

h1, h2, h3{
	font-family: "Raleway";
}

h1{

}

@media screen and (max-width: 960px){

}

/* HEADER */

header{
	float: left;
	background: url('purpleDiagmonds.png');
	width: 100%;
	padding: 0;
	margin: auto;
}

header img{
	width: 40%;
	margin: 10px 30%;
}

/* FOOTER */

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	float: left;
	background: url('purpleDiagmonds.png');
	width: 100%;
	height: 20px;
	padding: 10px 0;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
}

/* BODY */

div.pane{
	margin: 0;
	padding: 20px 0 ;
	width: 100vw;
	color: white;
	text-align: center;
}

p.overText, ul{
	color: #2d0a58;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
}

/* TOOLBARS */

div.userToolbar, div.appointmentToolbar{
	float: left;
	background: white;
	margin: 3%;
	margin-bottom: 70px;
	padding: 0;
	/*height: 100vh;*/
}

div.userToolbar{
	width: 20%;
	margin-right: 0;
}

div.appointmentToolbar{
	width: 71%;
}

	@media screen and (max-width: 960px){
		div.userToolbar{
			width: 29%;
		}
	}

	@media screen and (max-width: 960px){
		div.appointmentToolbar{
			width: 62%;
		}
	}

.toolbarTitle{
	width: 100%;
	background: url('purpleDiagmonds.png');
	color: white;
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-weight: 700;
	/* INPUTS */
	border: none;
	outline: none;
	transition: margin-top 0.5s;
}

.toolbarTitle:hover{
	margin-top: -5px;
}

	@media screen and (max-width: 960px){
		.toolbarTitle{
			font-size: 20px;
		}
	}

div.userContainer{
	width: 90%;
	height: 50px;
	background: transparent;
	margin: 5%;
	padding: 0;
	line-height: 50px;
	font-size: 20px;
	font-weight: 600;
	overflow: hidden;
}

img.avatar{
	float: left;
	width: 50px;
	border-radius: 25px;
	margin-right: 10px;
}

div.schedule{
	width: 95%;
	padding: 0;
	margin: 2.5%;
	overflow-x: scroll;
}

	div.scheduleContainer{
		width: 500px;
	}

div.day{
	float: left;
	background: transparent;
	margin: 20px 0 10px 5px;
}

	div.appointmentToolbar h2:first-child{
		background: transparent;
		margin: -20px 0 0 0;
		padding: 0;
		height: 20px;
		line-height: 20px;
		font-size: 15px;
		text-align: center;
		font-weight: 700;
	}

	div.slot, div.slotLabel, div.hourLabel{
		height: 20px;
		margin: 5px 0;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-mis-user-select: none;
		user-select: none;
	}

	div.slot{
		width: 100px;
		background: #cccccc;
		text-align: center;
		line-height: 20px;
		font-size: 10px;
		font-family: "Consolas";
	}

		div.slot:hover{
			background: #80ff00;
		}

	div.slotLabel, div.hourLabel{
		line-height: 20px;
		font-size: 15px;
		text-align: right;
		font-weight: 700;
		margin-right: 5px;
	}

	div.hourLabel{
		height: 95px;
		line-height: 95px;
		border-bottom: 1px solid black;
	}