/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@PerspectivePurple: #3C1642;
@TeachingTeal: #086375;
@AcademicAqua: #1DD3B0;
	@BrightLime: #AFFC41;
@LearningLime: darken(@BrightLime, 20%);
@StudentCentricCeladon: #B2FF9E;
@OverallOrange: #FA7921;

@MainColor: @LearningLime;
@MainLight: @MainColor + #222222;
@MainDark: @MainColor - #222222;

@Charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@vh: 6.5px;

@textSize: 3 * @vh;
@tx: @textSize;

@DefaultPadding: 3 * @vh;//4vw;
@dpy: @DefaultPadding;
@dpx: 2vw;

.HeadFont(){
	font-family: sans-serif;
}

.BodyFont(){
	font-family: sans-serif;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p, h1, h2, h3, ul, li{
	.BodyFont();
	margin: (1 * @dpy) auto;
}

h1, h2, h3{
	.HeadFont();
	text-align: center;
	font-weight: bold;
}

h1{
	font-size: 1.5 * @textSize;
	line-height: 1.75 * @textSize;
}

h2{
	font-size: 1.25 * @textSize;
	line-height: 1.5 * @textSize;
}

h2{
	font-size: 1.1 * @textSize;
	line-height: 1.35 * @textSize;
}

p{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	text-align: center;
}

ul{
	width: 80%;
	margin: auto 10%;
}

li{
	font-size: 1.0 * @textSize;
	line-height: 1.25 * @textSize;
	list-style: disc;
	margin: (0.15 * @textSize) auto;
}

a{
	text-decoration: none;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: @PerspectivePurple;
	//Default Text Styles
	.BodyFont();
	font-size: @textSize;
	color: white;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	margin: 0 auto;
}

.AnimateAll(@time: 0.5s){
	transition: all @time ease;
	-webkit-transition: all @time ease;
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

div.scene{
	margin: 0 auto;
	padding: @dpy 0;
	width: 100vw;
}

div.sky{
	background: @AcademicAqua;
	padding-bottom: 0;
}

div.ground{
	background: @TeachingTeal;
}

div.rsvp{
	
	background: @PerspectivePurple;

	input{

		background: lighten(@PerspectivePurple, 10%);
		color: white;

		&:focus{
			background: white;
			color: @PerspectivePurple;
			font-weight: bold;
		}

		.AnimateAll();

	}

}

.center-text{
	text-align: center !important;
}

button#landing-button, button#student-submit{
	background: @OverallOrange;
	&:hover{
		background: @TeachingTeal;
	}
}

button#landing-button{
	margin: (4 * @dpy) auto;
}

input.student-form{
	background: darken(@PerspectivePurple, 10%);
	color: white;
	&:focus{
		background: lighten(@PerspectivePurple, 10%);
	}
}

/*--------------------------------------------*/
/*---> HEADER & FOOTER <----------------------*/
/*--------------------------------------------*/



/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select{
	outline: none;
	border: none;
}

input, button{
	display: block;
	width: 50 * @vh;
	font-size: 1.0 * @tx;
	height: 2.0 * @tx;
	line-height: 2.0 * @tx;
	margin: (0.75 * @dpy) auto;
	padding: (0.25 * @dpy); //Note: uses @dpy for @dpx also
	box-sizing: border-box;
	border-radius: 3px;
	.AnimateAll();
}

input{
	color: @Charcoal;
}

button{

	background: @Charcoal;
	padding: 0;
	height: 2.5 * @tx;
	color: white;
	font-weight: bold;

	&:hover{
		background: @AcademicAqua;
	}

	&.success{
		background: @LearningLime;
	}

	&.error{
		background: @Charcoal;
	}

}

h4.form-title{
	display: block;
	margin: 0 auto;
	width: 50 * @vh;
	text-align: left;
	font-size: 0.75 * @tx;
	height: 1.0 * @tx;
	line-height: 1.0 * @tx;
	vertical-align: bottom;
	margin-bottom: -0.5 * @tx;
}

/*--------------------------------------------*/
/*---> SLANT WRAPPERS <-----------------------*/
/*--------------------------------------------*/

@slantHeight: 3vh;

div#slants-space div.slant{
	&:nth-of-type(1){.Slant(@TeachingTeal, @slantHeight, true);}
	&:nth-of-type(3){.Slant(@OverallOrange, @slantHeight, false);}
	&:nth-of-type(5){.Slant(@LearningLime, @slantHeight, true);}
	&:nth-of-type(7){.Slant(@PerspectivePurple, @slantHeight, false);}
}

/*div.slant-left{
	.Slant(@OverallOrange, @slantHeight, true);
}

div.slant-right{
	.Slant(@PerspectivePurple, @slantHeight, false);
}*/


.Slant(@slantColor, @slantHeight, @left){

	margin-top: -1 * @slantHeight;
	width: 0;
	height: 0;
	border-top: @slantHeight solid transparent;
	border-bottom: -100vw solid transparent;
	
	& + div.slant-text{
		
		width: 100vw - (2 * @dpx);
		margin: 0 auto;
		padding: @dpy @dpx;
		padding-bottom: 1.5 * @slantHeight;
		background: @slantColor;

		h1, h2, p{
			text-align: left;
		}

		video{
			width: 100%;
		}

	}
	
	& when (@left){
		border-left: 100vw solid @slantColor;
	}
	
	& when not (@left){
		border-right: 100vw solid @slantColor;
	}

	.AnimateAll();

}

/*--------------------------------------------*/
/*---> CIRCLE BULLSHIT <----------------------*/
/*--------------------------------------------*/

//As instructed in S/O:
//http://stackoverflow.com/questions/12813573/position-icons-into-circle

div.circle-wrapper{
	.CreateCircle();
}

.DropShadow(@shadowSize: 5px, @down: true){
	& when (@down){
		box-shadow: @shadowSize @shadowSize 0 rgba(0, 0, 0, 0.1);	
	}
	& when not (@down){
		box-shadow: (-1 * @shadowSize) (-1 * @shadowSize) 0 rgba(0, 0, 0, 0.1);	
	}
}

div#xq-circle{

	background: @AcademicAqua;

	h1{
		margin: (50% - (0.70 * @tx)) auto;
	}

}

div#xq-circle div.chord-six div.circle-chord{
	.WipingChord(white, @LearningLime);
}

div#earth{

	background: url('img/earth-long-double.png');
	background-size: auto 100%;
	background-repeat: repeat-x;
	.SpinningGlobe();
	//transform: rotate(-12deg);
	.DropShadow();

	/*div.circle{
		//transform: rotate(12deg);
		position: relative;
		top: 50%;
	}*/

	h1.circle-element{
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	div.circle-div{

		cursor: pointer;
		.DropShadow();

		span{
			opacity: 0.0;
			color: white;
			.SpanArrowHelper(4 * @vh, @TeachingTeal);
			.DropShadow();
			.AnimateAll();
		}

		&:hover span{
			opacity: 0.85;
		}

	}

	div.chord-six div.circle-chord{
		.WipingChord();
	}

	.AnimateAll();

}

.RotateCircle(){
	@-webkit-keyframes rotateCircle{
		from{
			transform: rotate(0deg);
		}
		to{
			transform: rotate(360deg);
		}
	}
	animation: rotateCircle 10s linear infinite;
	-webkit-animation: rotateCircle 10s linear infinite;
}

.SpinningGlobe(){
	@-webkit-keyframes spinGlobe{
		from{
			background-position: right top;
		}
		to{
			background-position: left top;
		}
	}
	animation: spinGlobe 10s linear infinite;
	-webkit-animation: spinGlobe 10s linear infinite;
}

.WipingChord(@startColor: @OverallOrange, @endColor: @AcademicAqua){
	@-webkit-keyframes wipeChord{
		0%{
			border-color: @startColor;
		}
		50%{
			border-color: @endColor;
		}
		100%{
			border-color: @startColor;
		}
	}
	animation: wipeChord 5s linear infinite;
	-webkit-animation: wipeChord 5s linear infinite;
}

.CreateCircle(@diameter: (50*@vh) - (2 * @dpy), @elementSize: 0.20 * @diameter){

	background: @TeachingTeal;
	margin: (2 * @dpy) auto;
	border-radius: 50%;
	width: @diameter;
	height: @diameter;
	position: relative;

	.CircularPosition(@dm, @angle){
		-webkit-transform: rotate(-1 * @angle) translate(0.5 * @dm) rotate(@angle);
		-moz-transform: rotate(-1 * @angle) translate(0.5 * @dm) rotate(@angle);
		-ms-transform: rotate(-1 * @angle) translate(0.5 * @dm) rotate(@angle);
		-o-transform: rotate(-1 * @angle) translate(0.5 * @dm) rotate(@angle);
		transform: rotate(-1 * @angle) translate(0.5 * @dm) rotate(@angle);
	}

	.circle-element{
		position: absolute;
		top: 50%;
		left: 50%;
		width: @elementSize;
		height: @elementSize;
		margin: -0.5 * @elementSize;
	}

	h1.circle-element{
		text-align: center;
		width: @diameter;
		color: white;
		top: 0%;
		line-height: 2 * @tx;
		left: 0%;
		display: inline;
		vertical-align: middle;
		margin: (50% - (0.35 * @tx)) auto;
		font-size: 1.75 * @textSize;
	}

	div.circle-chord{

		.circle-element();
		left: 0%;
		display: block;
		margin: 0 auto;
		height: 0;
		width: 0.5 * @diameter;
		border: 3px dashed @OverallOrange;
	
	}

	@half-x: 0.125 * @diameter;
	@x-root-3: 0.125 * @diameter * sqrt(3);

	div.chord-six div.circle-chord{

		&:nth-child(1){
			-webkit-transform: translate(-1 * @half-x, 1 * @x-root-3) rotate(60deg);
			-moz-transform: translate(-1 * @half-x, 1 * @x-root-3) rotate(60deg);
			-ms-transform: translate(-1 * @half-x, 1 * @x-root-3) rotate(60deg);
			-o-transform: translate(-1 * @half-x, 1 * @x-root-3) rotate(60deg);
			transform: translate(-1 * @half-x, 1 * @x-root-3) rotate(60deg);
		}

		&:nth-child(2){
			-webkit-transform: rotate(180deg) translate(-2 * @half-x, -2 * @x-root-3);
			-moz-transform: rotate(180deg) translate(-2 * @half-x, -2 * @x-root-3);
			-ms-transform: rotate(180deg) translate(-2 * @half-x, -2 * @x-root-3);
			-o-transform: rotate(180deg) translate(-2 * @half-x, -2 * @x-root-3);
			transform: rotate(180deg) translate(-2 * @half-x, -2 * @x-root-3);
		}

		&:nth-child(3){
			-webkit-transform: rotate(120deg) translate(-1 * @half-x, -3 * @x-root-3);
			-moz-transform: rotate(120deg) translate(-1 * @half-x, -3 * @x-root-3);
			-ms-transform: rotate(120deg) translate(-1 * @half-x, -3 * @x-root-3);
			-o-transform: rotate(120deg) translate(-1 * @half-x, -3 * @x-root-3);
			transform: rotate(120deg) translate(-1 * @half-x, -3 * @x-root-3);
		}

		&:nth-child(4){
			-webkit-transform: rotate(60deg) translate(1 * @half-x, -3 * @x-root-3);
			-moz-transform: rotate(60deg) translate(1 * @half-x, -3 * @x-root-3);
			-ms-transform: rotate(60deg) translate(1 * @half-x, -3 * @x-root-3);
			-o-transform: rotate(60deg) translate(1 * @half-x, -3 * @x-root-3);
			transform: rotate(60deg) translate(1 * @half-x, -3 * @x-root-3);
		}

		&:nth-child(5){
			-webkit-transform: rotate(180deg) translate(-2 * @half-x, 2 * @x-root-3);
			-moz-transform: rotate(180deg) translate(-2 * @half-x, 2 * @x-root-3);
			-ms-transform: rotate(180deg) translate(-2 * @half-x, 2 * @x-root-3);
			-o-transform: rotate(180deg) translate(-2 * @half-x, 2 * @x-root-3);
			transform: rotate(180deg) translate(-2 * @half-x, 2 * @x-root-3);
		}

		&:nth-child(6){
			-webkit-transform: rotate(120deg) translate(-1 * @half-x, 1 * @x-root-3);
			-moz-transform: rotate(120deg) translate(-1 * @half-x, 1 * @x-root-3);
			-ms-transform: rotate(120deg) translate(-1 * @half-x, 1 * @x-root-3);
			-o-transform: rotate(120deg) translate(-1 * @half-x, 1 * @x-root-3);
			transform: rotate(120deg) translate(-1 * @half-x, 1 * @x-root-3);
		}


	}

	div.circle-div{

		background: @OverallOrange;
		border-radius: 50%;
		text-align: center;
		line-height: @elementSize;

		&:hover{
			background: @StudentCentricCeladon;
			color: @AcademicAqua;
		}

		.AnimateAll();
		
	}

	div.circle-six div.circle-div{

		&:nth-child(1){.CircularPosition(@diameter, 0deg)}
		&:nth-child(2){.CircularPosition(@diameter, 60deg)}
		&:nth-child(3){.CircularPosition(@diameter, 120deg)}
		&:nth-child(4){.CircularPosition(@diameter, 180deg)}
		&:nth-child(5){.CircularPosition(@diameter, 240deg)}
		&:nth-child(6){.CircularPosition(@diameter, 300deg)}
	}

	.AnimateAll();

}

/*--------------------------------------------*/
/*---> ARROWS AND TAGS <----------------------*/
/*--------------------------------------------*/

.ArrowDown(@triColor: @mainColor, @triWidth: 10 * @vh , @triHeight: 2.5 * @vh){
	width: 0;
	height: 0;
	border-left: (@triWidth / 2) solid transparent;
	border-right: (@triWidth / 2) solid transparent;
	border-top: @triHeight solid @triColor;
}

.SpanArrowHelper(@tagSize, @tagColor){

	position: absolute;
	background: @tagColor;
	height: @tagSize;
	width: 6 * @tagSize;
	line-height: @tagSize;
	padding: 0.25 * @tagSize;
	margin-left: -2.875 * @tagSize;
	margin-top: -1.0 * @tagSize;

	.BodyFont();

	div.arrow-down{
		.ArrowDown(@tagColor, 1.0 * @tagSize, 0.5 * @tagSize);
		margin: auto;
	}

}

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: white;
@scrollBarBack: @MainColor;

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
	z-index: 50;
	position: absolute;
	display: none;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	//border-radius: 5px;
	position: absolute;
	margin-left: -10px;
}

::-webkit-scrollbar-corner{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}