/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@ecoGreen: #00c853;
@lightGreen: @ecoGreen + #222222;
@darkGreen: @ecoGreen - #222222;
@skyBlue: #8ccee3;
@charcoal: #1a1a1a;
@friendshipOrange: #ea541e;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@bitter: 'Bitter', serif;
@margarine: 'Margarine', cursive;

.BitterFont(@textColor: white, @size: 1.25em){
	font-family: @bitter;
	color: @textColor;
	font-size: @size;
	line-height: @size * 1.5;
}

/*--------------------------------------------*/
/*---> BACKGROUND <---------------------------*/
/*--------------------------------------------*/

@keyframes animatedBackgroundRight{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 10000% 0;
	}
}

@keyframes animatedBackgroundLeft{
	from{
		background-position: 0 0;
	}
	to{
		background-position: -10000% 0;
	}
}

.AnimatedBannerRight(@height: 200px){
	height: @height;
	background-size: auto @height;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animatedBackgroundRight 800s linear infinite;
	-webkit-animation: animatedBackgroundRight 800s linear infinite;
}

.AnimatedBannerLeft(@height: 200px){
	height: @height;
	background-size: auto @height;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animatedBackgroundLeft 800s linear infinite;
	-webkit-animation: animatedBackgroundLeft 800s linear infinite;
}

/*--------------------------------------------*/
/*---> LAYOUT <-------------------------------*/
/*--------------------------------------------*/

@defaultPadding: 1.00em;
@defaultMargin: 0px;
@defaultWidth: 400px;

.BoxModel(@size: @defaultPadding){
	padding: @size;
	margin: @size;
}

.FullWidth(){
	margin: 0;
	width: 100%;
}

html{
	background: @ecoGreen;
}

div.sky{

	background: @skyBlue;
	.FullWidth();

	img#teaserLogo{
		width: 60%;
		padding: 2.5%;
		.Center();
	}

	div#clouds{
		@height: 100px;
		width: 100%;
		height: @height;
		.AnimatedBannerRight(@height);
		overflow: hidden;
	}

	div#buildings{
		@height: 100px;
		width: 100%;
		height: @height;
		.AnimatedBannerLeft(@height);
		overflow: hidden;
	}

}

div.grass{
	background: @ecoGreen;
	.FullWidth();
}

div.wood{

	background: url('retinaWood.png');
	.FullWidth();

	h1, p{
		color: @darkGreen;
	}

}

div#footer{

	background: @darkGreen;
	.FullWidth();

	p{
		.BitterFont(white, 0.75em) !important;
	}

}

div#thankYou{

	background: @darkGreen;
	.FullWidth();

	p{
		.BitterFont(white, 0.75em);
	}
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

header{

	position: fixed;
	background: rgba(255, 255, 255, 0.75);
	border-bottom: 5px solid @ecoGreen;
	height: 60px;
	.FullWidth();

	img#headerLogo{
		float: left;
		height: 40px;
		margin: 5px 10px 0 10px;
	}

	div.fb-like{
		float: right;
		height: 20px;
		width: auto;
		margin: 20px 20px 0 0;
		background: transparent;
	}

}

div.headerSpace{
	height: 60px;
}

/*--------------------------------------------*/
/*---> MEALS <--------------------------------*/
/*--------------------------------------------*/

div#upcomingMeals{
	//background: rgba(255, 255, 255, 0.25);
	.BitterFont(@darkGreen);
	.Center();
	//padding: 1em;
	//margin: 1em;
}

div.mealPreview{

	display: inline-block;
	width: 10em;
	height: 10em;
	padding: 1em;
	margin: 1em;

	@backgroundColor: @darkGreen;

	div.mealTitle{
		background: rgba(
			red(@backgroundColor), 
			green(@backgroundColor), 
			blue(@backgroundColor),
		0.75);
		padding: 0.5em;
		height: 3em;
		margin: 3.5em -1em 0 -1em;
		position: relative;
	}

	h2, h3{
		float: left;
		width: 100%;
	}

	h2{
		.BitterFont(white, 0.85em);
		margin-bottom: 0.25em;
		font-weight: bold;
	}

	h3{
		.BitterFont(darken(white, 20%), 0.65em);
		font-style: italic;
	}

	div.info{
		height: 3.5em;
		.Center();
	}

	div.bubble{
		.BitterFont(white, 0.75em);
		position: relative;
		float: left;
		margin-right: 0.25em;
		color: white;
		width: 2.5em;
		height: 2.5em;
		line-height: 2.625em;
		border-radius: 1.5em;
		text-align: center;
		background: rgba(
			red(@backgroundColor), 
			green(@backgroundColor), 
			blue(@backgroundColor),
		0.75);
		//border: 0.25em solid white;
		color: white;
		overflow: hidden;
	}

		div.price{
			z-index: 10;
		}

		div.capacity{
			z-index: 5;
		}

		div.date{
			width: 9em;
			font-size: 0.65em;
			padding: .25em 0;
			margin-right: 0;
		}

	div.mealPay{

		float: left;
		background: rgba(255, 255, 255, 0.75);
		width: 9.75em;
		height: 6em;
		margin-left: 20.25em;
		position: relative;
		display: none;
		margin-bottom: -5em;
		transition: all 1s;

		p{
			.BitterFont(@darkGreen, 0.75em);
			margin-bottom: -0.35em;
		}

		a.d-btn, a.d-btn-simple{
			height: 1.625em;
			line-height: 1.625em;
			width: 9em;
			border-radius: 4em;
			background: @darkGreen;
			border: none !important;
			outline: none !important;
			text-shadow: none !important;
			transition: all 0.5s;
		}

		a.d-btn:hover, a.d-btn-simple:hover{
			background: @friendshipOrange;
		}

		form.paypalForm{

			background: transparent;
			.FormCleanse();
			.Center();

			button{
				background: @darkGreen;
				height: 1.85em;
				line-height: 1.85em;
				width: 10em;
				border-radius: 4em;
				.BitterFont(white, 0.85em);
				opacity: 1.0;
				transition: all 0.5s;
			}

			button:hover{
				background: @friendshipOrange;
			}

		}

	}

	//background-image property filled in by HTML
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	transition: all 0.5s;

}

	div.mealPreview:hover{

		width: 20em;

		div.mealPay{
			margin-left: 0em;
			display: block;
		}

		div.bubble{
			clear: both;
			margin-left: 14.25em;
			width: 12.5em;
			margin-bottom: 0.25em;
			transition: all 0.5s;
		}

		div.price{
			margin-top: -1.25em;
		}

		div.date{
			margin-left: 16.5em;
			width: 14.5em;
			padding: 0;
			margin-bottom: 0;
		}

	}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

h1, p{
	padding: @defaultPadding;
	.BitterFont(white, 1.25em);
	.Center();
}

h1{
	.BitterFont(white, 1.75em);
	font-weight: bolder;
	padding: 0.25em;
}

h1 + p{
	margin-top: 0;
	padding-top: 0;
}

p + p{
	margin-top: 0;
	padding-top: 0;
}

h1 + div{
	margin-top: 0;
	padding-top: 0;
}

/*--------------------------------------------*/
/*---> IMAGES <-------------------------------*/
/*--------------------------------------------*/

.Center(){
	margin: auto auto;
	display: block;
	text-align: center;
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/

.FormCleanse(){
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
}

input, select, button{
	.FormCleanse();
}

div.wood{

	@inputHeight: 2em;

	padding: 2em auto;
	float: left;
	.Center();

	p{
		.BitterFont(@darkGreen, 1.25em);
	}

	input, button#teaserSubmit{
		background: transparent;
		margin: 0 auto 2em;
		border: 0.5em solid @darkGreen;
		text-align: center;
	}

	input{
		width: 70%;
		padding: 0 1em;
		margin-right: 0.5em;
		.BitterFont(@darkGreen, 1.5em);
	}

	button#teaserSubmit{
		width: @inputHeight + 1em;
		.BitterFont(@darkGreen, 1.5em);
		// Based on tutorial from: stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css
		background: linear-gradient(to right, transparent 50%, white 50%);
		background-size: 200% 100%;
		background-position: left bottom;
	}

	button#teaserSubmit:hover{
		background-position: right bottom;
		transition: all 0.5s ease;
	}

	button#teaserSubmit:active{
		background: @lightGreen;
	}

}

/*--------------------------------------------*/
/*---> RESPONSIVE <---------------------------*/
/*--------------------------------------------*/

@media screen and (max-aspect-ratio: 3/2){
	
	

}

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: white;
@scrollBarBack: transparent;

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	border-radius: 5px;
	position: absolute;
	margin-left: -10px;
}

::-webkit-scrollbar-corner{
	width: 10px;
	height: 10px;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}