/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@mainColor: #52988E;
@mainLight: @mainColor + #222222;
@mainDark: @mainColor - #222222;

@charcoal: #1a1a1a;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@tx: 3vh;

.HeadFont(){
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.BodyFont(){
	font-family: 'Titillium Web', sans-serif;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

p, h1, h2, h3, ul, li{
	.BodyFont();
	margin: (0.5 * @tx) auto;
}

h1, h2, h3{
	.HeadFont();
	text-align: center;
}

h1{
	font-size: 1.5 * @tx;
	line-height: 1.75 * @tx;
}

h2{
	font-size: 1.25 * @tx;
	line-height: 1.5 * @tx;
}

h2{
	font-size: 1.1 * @tx;
	line-height: 1.35 * @tx;
}

p{
	font-size: 1.0 * @tx;
	line-height: 1.25 * @tx;
	text-align: center;
}

ul{
	width: 80%;
	margin: auto 10%;
}

li{
	font-size: 1.0 * @tx;
	line-height: 1.25 * @tx;
	list-style: disc;
	margin: (0.15 * @tx) auto;
}

/*--------------------------------------------*/
/*---> BODY <---------------------------------*/
/*--------------------------------------------*/

html{
	background: white;
	width: 100vw;
	//Default Text Styles
	.BodyFont();
	font-size: @tx;
	color: @charcoal;
	background-image: url("img/desolate-city.jpg");
	.FillBackgroundImage();
}

body{
	margin: 0;
	width: 100vw;
	margin: 0 auto;
	overflow-x: hidden;
}

.AnimateAll(@time: 0.5s){
	transition: all @time ease;
	-webkit-transition: all @time ease;
}

.FillBackgroundImage(){
	//background-image property filled in by HTML
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

section{
	
	margin-top: 1.0 * @tx;

	h1, h2{
		color: @charcoal;
	}

}

/*--------------------------------------------*/
/*---> CLOCKS <-------------------------------*/
/*--------------------------------------------*/

div.clock{
	text-align: center;
	font-weight: 700;
	color: white;
	font-size: 1.5 * @tx;
	line-height: 1.5 * @tx;
	text-shadow: 0 0 2vh rgba(0, 0, 0, 0.75);
}

div.clock-big{
	font-size: 3 * @tx;
	line-height: 3 * @tx;
	text-transform: uppercase;
	text-shadow: 0 0 5vh rgba(0, 0, 0, 0.75);
}

/*--------------------------------------------*/
/*---> CALENDAR <-----------------------------*/
/*--------------------------------------------*/

div.month{

	color: white;
	text-align: center;
	margin-bottom: 5vh;

	h1{
		color: @charcoal;
	}

	div.week{
		
		width: 95%;
		margin: 0.5%;

		div.weekday{

			width: 10%;
			height: 3 * @tx;
			line-height: 3 * @tx;
			margin: 0.5%;
			display: inline-block;

			&:hover{
				opacity: 0.15;
			}

			.AnimateAll();

		}

		div.weekday-inactive{
			background: transparent;
			color: transparent;
		}

		div.weekday-active{
			background: @mainColor;
			color: white;
		}

		div.weekday-active:nth-child(1), div.weekday-active:nth-child(7){
			background: @mainDark;
		}

		div.weekday-past{
			opacity: 0.25;
		}

		div.weekday-label{
			background: @mainDark;
			color: white;
			height: 1.5 * @tx;
			line-height: 1.5 * @tx;
		}

	}

}

/*--------------------------------------------*/
/*---> TOOLBAR <------------------------------*/
/*--------------------------------------------*/

@buttonHeight: 2 * @tx;

div.slider{
	overflow-x: scroll;
	overflow-y: hidden;
	width: 95vw;
	padding: 1vh;
	height: @buttonHeight * 1.5;
}

div.button-toolbar{
	width: 1000vw;

	button{
		background: @mainColor;
		width: 20vw;
		margin: 1vh;
		height: @buttonHeight;
		line-height: @buttonHeight;
		display: inline-block;
		color: white;
		.BodyFont();
	}

}

/*--------------------------------------------*/
/*---> HEADER & FOOTER <----------------------*/
/*--------------------------------------------*/



/*--------------------------------------------*/
/*---> FORM <----------------------------------*/
/*--------------------------------------------*/

input, button, select{
	outline: none;
	border: none;
}

/*--------------------------------------------*/
/*---> SCROLLBAR <----------------------------*/
/*--------------------------------------------*/

@scrollBar: rgba(255, 255, 255, 0.5);
@scrollBarBack: transparent;
@scrollBarSize: 0.5 * @tx;

::-webkit-scrollbar{
	width: @scrollBarSize;
	height: @scrollBarSize;
	background: @scrollBarBack;
	z-index: 50;
}

::-webkit-scrollbar-button{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track{
	background: @scrollBarBack;
}

::-webkit-scrollbar-track-piece{
	background: @scrollBarBack;
}

::-webkit-scrollbar-thumb{
	background: @scrollBar;
	//border-radius: 5px;
	position: absolute;
	margin-left: -1.0 * @scrollBarSize;
}

::-webkit-scrollbar-corner{
	width: @scrollBarSize;
	height: @scrollBarSize;
	background: @scrollBarBack;
}

::-webkit-resizer{
	background: @scrollBarBack;
}