font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;

html, body{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

html{
	background: url('world1.jpg');
	background-attachment: fixed;
	background-width: 100%;
	background-position: left;
}

body{
	margin: auto;
	width: 930px;
	padding: 15px;
	background: rgba(255, 255, 255, 0.25);
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

div#header{
	background: rgba(26, 26, 26, 1.0);
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	color: white;
}

	div#menu{
		width: 930px;
		height: 60px;
		margin: auto;
		background: transparent;
	}

	div#menu div.button{
		float: left;
		margin: 15px 0 0 0;
		padding: 5px;
		width: 75px;
		height: 20px;
		line-height: 20px;
		background: rgba(255,165,0,1.0);
		text-align: center;
		color: white;
		font-family: "Open Sans";
		font-size: 15px;
		z-index: 10;
		font-weight: bold;
	}

		div#menu div.button:hover{
			background: white;
			color: orange;
		}

		div#pointCoord{
			float: left;
			margin: 5px 0 0 -5px;
			padding: 5px 5px 10px 5px;
			width: 75px;
			height: 85px;
			line-height: 20px;
			background: #1A1A1A;
			z-index: 5;
		}

		div#pointCoord input{
			margin: 5px;
			padding: 0;
			float: left;
			border: none;
			outline: none;
			width: 27.5px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			font-family: "Open Sans";
			font-size: 12px;
			background: white;
			color: #1A1A1A;
			font-weight: bold;
		}

canvas#map{
	margin: 15px;
	width: 900px;
	height: 400px;
	background: rgba(204, 204, 204, 0.75);
}

div#print-image{
	margin: 15px;
	width: 900px;
}

textarea.terminal{
	float: left;
	margin: 15px;
	padding: 10px;
	width: 880px;
	height: 120px;
	max-width: 880px;
	overflow-y: scroll;
	border: none;
	outline: none;
	background: #1A1A1A;
	color: white;
	font-family: "Consolas";
	font-size: 12px;
	line-height: 15px;
}

/* TEXT OBJECTS */

p{
	margin: 15px;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 20px;
}

h1, h2, h3{
	margin: 15px;
	font-family: "Oswald";
}

h1{
	font-size: 28px;
	line-height: 30px;
}

h2{
	font-size: 22px;
	line-height: 25px;
}

h3{
	font-size: 18px;
	line-height: 20px;
}