div#pointMenu{
	position: absolute;
	height: 30px;
	width: 72.5px;
	margin: -435px 0 0 20px;
	padding: 0 0 0 5px;
	background: white;
}

div#arrowLeft{
	position: absolute;
	height: 0px;
	width: 0px;
	margin: 0 0 0 -10px;
	border-top: 15px solid transparent; 
	border-right: 10px solid white; 
	border-bottom: 15px solid transparent;
}

div#pointMenu input{
	border: none;
	outline: none;
	height: 20px;
	width: 20px;
	line-height: 10px;
	margin: 5px 0 5px 0px;
	
	font-family: "Open Sans";
	font-size: 10px;
}

div#pointMenu input[type="button"]{
	padding: 5px;
	color: white;
}

div#pointMenu input[type="number"]{
	background: transparent;
	color: #1A1A1A;
	font-size: 10px;
	font-weight: bold;
	width: 30px;
	padding: 0 0 0 5px;
}

div.toolbar{
	width: 880px;
	margin: 15px;
	padding: 10px;
	background: #CCCCCC;
}

input, select{
	border: none;
	outline: none;
	margin: 10px;
	padding: 0px;
	width: 160px;
	height: 30px;
	line-height: 30px;
	font-family: "Open Sans";
	font-size: 15px;
}

input[type="number"]{
	width: 50px;
	height: 20px;
	padding: 5px;
	line-height: 20px;
}

input[type="text"]{
	height: 20px;
	padding: 5px;
	line-height: 20px;
}

input[type="color"]{
	position: absolute;
}

input[type="button"]{
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-weight: bold;
}