h1#heading-nick{
	font-size: 40px;
	line-height: 50px;
	background: black;
	text-transform: uppercase;
	width: 100px;
}

div#nick{
	width: 600px;
	margin: 20px;
	border: 5px dashed white;
	padding: 10px;
}

div#nick img{ /*For every open inside nick that is also a img*/
	width: 200px;
	border: 3px dashed black;
}
div#nick button{
	background: white;
	color: #006400;
	transition: background 1s;
}

div#nick button:hover{
	background: purple;
}